h1 {
   ;
    
}
h3 {
    background-color: white
}
* {
    background-color:rgb(203, 152, 152);
}
.google {
    margin-left:600px;
}
.netflix {
    margin-left:50px;

}
.insta {
    margin-left:600px;
}
.utube {
    margin-left:30px;
}